*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 10px;
}



.container {
  width: 375px;
  height: 812px;
  background-color: white;
  /* overflow: scroll; */
  overflow-y: auto;
  color: black;
  margin: 0 auto;
}

header {
  width: 375px;
  height: 130px;
  background-color: #f6f4f4;
  border-bottom: 1px blue solid;

}


nav {
  /*  margin: 0 auto;*/
  /* padding: 10px 0 15px 15px; */
}

.default {
  background-image: url("../images/Default.png");
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-position: right; */
  height: 45px;
  color: #157efb;
}

/*
.bus-stops {
  margin: 0 20px;
}

.bus-stops ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bus-stops li:first-child {
  display: flex;
  align-items: center;
}
*/
.bus-stops .label {
  margin-left: 5px;
  margin-top: 8px;
  float: left;
}



.bus-stops .fa-chevron-left {
  color: #157efb;
  float: left;
  margin-left: 16px;
  margin-top: 7px;

}

.bus-arrival .fa-chevron-right {
  color: #b8b8b8;
  display: block;
  float: left;
}

li.bus-route {
  display: list-item; /* removes default value list-item */
  padding-top: 10px;
}

li.bus-route::after {
  clear: both;
  display:  block;
  content:  '';
}

.circle, .bus-info, .bus-content, .bus-arrival {
  float: left; /* sets all divs as float left */
}

/* main structural divs need to add up to 100% */
.circle {
  width: 20%;
}

.circle p {
  width: 50px;
  height: 50px;
  border: 2px solid #157efb;
  border-radius: 100px;
  background-color: yellow;
  margin: 0 10px 0px 16px;
  color: #157efb;
  font-size: 15px;
  padding-top: 15px;
  text-align: center;
}

.bus-info {
  width: 80%;
  border-bottom: 1px solid black; /* extra div element specifically for this border */
  padding-bottom: 10px;
}

.bus-route:last-child .bus-info {
  border-bottom: 0;
}

/* secondary structural elements also need to add up to 100% */
.bus-content {
  width: 65%;
}

.bus-arrival {
  width: 35%;
  text-align: right;
  padding-top: 22px; /* terrible necessity when not using flexbox */
}

.more {
  background-image: url("../images/More.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  width: 33px;
  height: 33px;
  float: right;
  margin-right: 20px;
}


/* MAIN CONTENT */
h1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

h3 {
  font-size: 14px;
  line-height: 20px;
  color: #b8b8b8;
}

h4 {
  color: #b8b8b8;
  text-align: right;
  font-size: 12px;
  line-height: 19px;
  float: left;
  margin-right: 6px;
  min-width: 73px;
}

h5 {
  font-size: 33px;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}

/* .arrow {
  float: right;
  margin-top: 21px;
  margin-right: 15px;
} */


.bus-route:hover {
  background-color: #e3e1e1;
}
/*
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  border: 2px solid #157efb;
  border-radius: 100px;
  background-color: yellow;
  margin: 10px;
  color: #157efb;
  font-size: 15px;
  float: left;
}

.bus-content-1 {
  width: 68%;

}

.bus-content-2 {
  width: 77%;

}

.bus-content-3 {
  width: 75%;

}

.bus-content-4 {
  width: 81%;

}

.bus-content-5 {
  width: 73%;

}
*/


a {
  font-size: 14px;
  color: #157efb;
  text-decoration: none;
}

/*
a:link {
  color: #157efb;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
} */
